<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RawPrint.NetStd-2.0" version="1.0.0" targetFramework="net48" />
  <package id="SoftCircuits.IniFileParser" version="2.1.0" targetFramework="net48" />
  <package id="SuperSimpleTcp" version="3.0.13" targetFramework="net48" />
</packages>